{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-svelte",
    "prettier-plugin-solidity"
  ],
  "printWidth": 79,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true
}
