{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte"],
  "printWidth": 79,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true
}
